@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
body {
  font-family: "Rubik Mono One", monospace;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  color: #333;
  overflow-x: hidden;
}

#navigation {
  padding: 30px;
  gap: 20px;
  display: flex;
}
#navigation #welcome-message {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
  transition: color 0.3s ease;
}
#navigation #welcome-message:hover {
  color: #FFC107;
}
#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
#navigation ul li {
  margin-right: 20px;
}
#navigation ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}
#navigation ul li a:hover {
  color: #FFC107;
}

#welcome-message {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
  transition: color 0.3s ease;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
  text-align: center;
}

.theme-switch {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-switch input[type=checkbox] {
  display: none;
}

.theme-switch label {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.theme-switch input[type=checkbox]:checked + label {
  background-color: #f3ad21;
}

.theme-switch.dark label {
  background-color: #ff0000;
  color: #fff;
}

.theme-switch.dark input[type=checkbox]:checked + label {
  background-color: #f3ad21;
}

#filters {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 100px;
}
#filters #apply-filters {
  padding: 14px;
}

#filters input[type=text],
#filters select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#filters button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #f3ad21;
  color: white;
  cursor: pointer;
}

#add-piggy-bank {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
#add-piggy-bank h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
#add-piggy-bank input,
#add-piggy-bank textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#add-piggy-bank button {
  background-color: #f3ad21;
  color: white;
  padding: 15px 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
#add-piggy-bank button:hover {
  background-color: #eea30d;
}

#piggy-banks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.piggy-bank {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}
.piggy-bank:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.piggy-bank h3 {
  font-size: 1.8em;
  margin-bottom: 15px;
}
.piggy-bank .piggy-bank-image {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin-bottom: 15px;
}
.piggy-bank .progress-bar {
  width: 100%;
  height: 12px;
  background-color: #eee;
  border-radius: 5px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
.piggy-bank .progress-bar .progress-bar-fill {
  height: 100%;
  border-radius: 5px 0 0 5px;
  width: 0%;
  max-width: 100%;
  transition: background-color 0.3s ease, width 0.5s ease;
  /* Анимация для перехода цвета */
  animation: colorChange 0.3s ease-in-out;
  animation-fill-mode: forwards;
  /* Анимация для перехода ширины */
  animation: widthChange 0.5s ease-in-out;
}
.piggy-bank .progress-bar .progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #fff;
  z-index: 1;
}
.piggy-bank .description {
  margin-bottom: 15px;
}
.piggy-bank p {
  margin-bottom: 10px;
}
.piggy-bank .add-amount-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.piggy-bank .add-amount {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.piggy-bank .subtract-amount {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.piggy-bank button {
  background-color: #f3ad21;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.piggy-bank button:hover {
  background-color: #eea30d;
}

.piggy-bank.over-goal .progress-bar-fill {
  background-color: #FFC107;
}

.piggy-bank.double-over-goal .progress-bar-fill {
  background-color: #FF5722;
}

.piggy-bank.triple-over-goal .progress-bar-fill {
  background-color: #F44336;
}

.piggy-bank.quadruple-over-goal .progress-bar-fill {
  background-color: #9C27B0;
}

#statistics {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#statistics h2 {
  font-weight: bold;
  padding: 10px;
  font-size: 1.25rem;
}
#statistics div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 20px auto;
}
#statistics canvas {
  max-width: 400px;
  max-height: 400px;
  margin-bottom: 10px;
}
#statistics .chartjs-legend {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
#statistics .chartjs-legend li {
  margin: 0 5px;
}
#statistics .chartjs-legend li span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 50%;
}

#statistics p {
  margin: 5px 0;
}

#statistics span {
  font-weight: bold;
}

.stats-container p {
  color: #666666;
}

#leaderboard {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#leaderboard-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#leaderboard-list li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

#leaderboard-list li:last-child {
  border-bottom: none;
}

#leaderboard-list li span {
  font-weight: bold;
}

#leaderboard-list li .achievements {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 10px;
}

#leaderboard-list li .achievement {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #dedede;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  position: relative;
}

#leaderboard-list li .achievement:hover {
  transform: scale(1.1);
}

#leaderboard-list li .achievement img {
  max-width: 100%;
  max-height: 100%;
}

#leaderboard-list li .achievement .achievement-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#leaderboard-list li .achievement:hover .achievement-progress {
  opacity: 1;
}

.transactions-container {
  margin-top: 20px;
}

.transactions-list {
  list-style: none;
  padding: 0;
}

.transactions-list li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.transactions-list li:last-child {
  border-bottom: none;
}

.transaction.add {
  color: green;
}

.transaction.subtract {
  color: red;
}

.required-amount {
  margin-top: 10px;
  font-weight: bold;
}

.transactions-chart {
  max-width: 400px;
  max-height: 400px;
  margin-bottom: 10px;
}

.chart-container {
  max-width: 400px;
  max-height: 400px;
  overflow-y: auto;
}

@keyframes colorChange {
  0% {
    background-color: #4CAF50;
  }
  100% {
    background-color: #FFC107;
    background-color: #FF5722;
    background-color: #F44336;
    background-color: #9C27B0;
  }
}
@keyframes widthChange {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@media (max-width: 768px) {
  #piggy-banks-container {
    flex-direction: column;
  }
  .piggy-bank {
    flex: 1 0 100%;
    min-width: auto;
  }
}
body.dark {
  background-color: #212121;
  color: #fff;
}

.theme-switch label.dark #piggy-banks-container {
  background-color: #212121;
  color: #fff;
}

.theme-switch input[type=checkbox]:checked + label.dark {
  background-color: #f3ad21;
  color: #fff;
}

#add-piggy-bank.dark input,
#add-piggy-bank.dark textarea,
#filters input,
#filters select {
  background-color: #303030;
  color: #fff;
}

#add-piggy-bank.dark,
#filters button {
  background-color: #303030;
  color: #fff;
}

#statistics.dark {
  background-color: #303030;
}

#leaderboard.dark {
  background-color: #303030;
}

#leaderboard-list.dark li {
  border-bottom: 1px solid #666;
}

#leaderboard-list.dark li .achievement {
  background-color: #444;
}

body.dark .piggy-bank {
  background-color: #303030;
  color: #fff;
}

.add-amount-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
}

.add-amount-container input {
  flex: 1;
}

.add-amount-container button {
  margin-left: auto;
}

.actions-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.actions-container button {
  flex: 1;
  margin: 0 5px;
}

.block_button {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.transactions-container {
  max-height: 300px;
  overflow-y: auto;
}

.update-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background: #f3ad21;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.update-button:hover {
  background: #d39e00;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.875rem;
  margin-top: max(40px, env(safe-area-inset-top));
  bottom: 0;
  width: 100%;
  background-color: #212121;
  color: #fff;
  padding: 50px 0px;
  text-align: center;
  border-top: 1px solid #333;
}
footer a {
  color: #2196F3;
  text-decoration: none;
  transition: color 0.3s ease;
}
footer a:hover {
  color: #1976D2;
}

input,
textarea {
  transition: box-shadow 0.3s ease, border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
input:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-color: #aaa;
  background-color: #f3f3f3;
  color: #333;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.light {
  animation: light-theme 0.3s ease-in-out forwards;
}

body.dark {
  animation: dark-theme 0.3s ease-in-out forwards;
}

@keyframes light-theme {
  0% {
    background-color: #212121;
    color: #fff;
  }
  100% {
    background-color: #f4f4f4;
    color: #333;
  }
}
@keyframes dark-theme {
  0% {
    background-color: #f4f4f4;
    color: #333;
  }
  100% {
    background-color: #212121;
    color: #fff;
  }
}
body.dark #navigation a {
  color: #fff;
}

#welcome-message.dark {
  color: #fff;
}

.piggy-bank .progress-bar {
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}
.piggy-bank .progress-bar .progress-bar-fill {
  height: 100%;
  background-color: #4CAF50;
  border-radius: 10px;
  transition: width 0.2s ease;
}
.piggy-bank .progress-bar .progress-bar-fill.filled {
  background-color: #4CAF50;
}
.piggy-bank .progress-bar .progress-bar-fill.over-goal {
  background-color: #FFC107;
}
.piggy-bank .progress-bar .progress-bar-fill.double-over-goal {
  background-color: #FF5722;
}
.piggy-bank .progress-bar .progress-bar-fill.triple-over-goal {
  background-color: #F44336;
}
.piggy-bank .progress-bar .progress-bar-fill.quadruple-over-goal {
  background-color: #9C27B0;
}

.piggy-bank .progress-bar-fill {
  animation: widthChange 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes widthChange {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes removePiggyBank {
  0% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: scale(0.8) rotate(90deg);
  }
}
.achievement {
  display: flex;
  align-items: center;
  margin: 0 5px;
  justify-content: center;
  width: 100%;
}

.leaderboard-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.user-info .username {
  margin-left: 5px;
}

@media (max-width: 590px) {
  body {
    padding: 10px;
  }
  .add-amount-container button {
    width: 100%;
  }
  .add-amount {
    width: 95%;
  }
  .subtract-amount {
    width: 95%;
  }
  h1 {
    font-size: 2em;
    margin-bottom: 15px;
  }
  #add-piggy-bank {
    padding: 20px;
  }
  #add-piggy-bank input,
  #add-piggy-bank textarea {
    padding: 5px;
    font-size: 16px;
  }
  .piggy-bank {
    padding: 20px;
  }
  .add-amount-container {
    flex-direction: column;
    gap: 5px;
  }
  .actions-container button {
    margin: 5px 5px;
    gap: 10px;
  }
  .block_button {
    gap: 10px;
  }
  #filters {
    flex-direction: column;
    gap: 5px;
  }
  .block_button {
    flex-direction: column;
  }
}
@media (max-width: 498px) {
  body {
    font-size: 0.75rem;
  }
  #navigation {
    padding: 5px;
    gap: 5px;
  }
  #leaderboard {
    width: 80%;
  }
  #welcome-message {
    font-size: 1em;
  }
  h1 {
    font-size: 1.5em;
  }
  #add-piggy-bank {
    padding: 10px;
  }
  #add-piggy-bank input,
  #add-piggy-bank textarea {
    font-size: 14px;
    padding: 5px;
  }
  .piggy-bank {
    padding: 10px;
  }
  .piggy-bank h3 {
    font-size: 1.5em;
  }
  .piggy-bank .piggy-bank-image {
    height: 100px;
  }
  .actions-container {
    flex-direction: column;
  }
  .actions-container button {
    margin: 5px 0;
  }
  #filters {
    gap: 5px;
  }
  #filters input, #filters select, #apply-filters {
    padding: 5px;
    font-size: 14px;
  }
  #statistics, #leaderboard {
    padding: 10px;
  }
  #statistics div {
    width: 100%;
  }
  .transactions-container {
    max-height: 200px;
  }
}
@media (max-width: 768px) {
  /* Responsive adjustments for tablets and smaller screens */
  #add-piggy-bank,
  #statistics,
  #leaderboard {
    width: 95%; /* Take up almost the full width on smaller screens */
    margin: 10px auto; /* Center horizontally */
  }
  #add-piggy-bank .form-group,
  #add-piggy-bank .block_button {
    margin-bottom: 10px; /* Space between form elements */
  }
  #add-piggy-bank h2,
  #statistics h2,
  #leaderboard h2 {
    font-size: 1.2em; /* Reduce heading size */
  }
  #add-piggy-bank label {
    font-size: 14px;
  }
  #piggy-banks-container {
    gap: 5px;
  }
}
#add-piggy-bank input,
#add-piggy-bank textarea,
#add-piggy-bank select {
  width: 100%; /* Full width inputs for mobile */
  box-sizing: border-box;
}

#add-piggy-bank #piggy-bank-image-preview {
  max-width: 100%; /* Image scales to fit the width */
}

#add-piggy-bank .block_button {
  flex-direction: column; /* Stack buttons vertically */
}

#add-piggy-bank .block_button button {
  width: 100%; /* Full width buttons */
  margin-bottom: 5px; /* Space between buttons */
}

#statistics .stats-container,
#statistics .charts-container {
  width: 100%; /* Full width for stats and charts */
  margin: 0;
}

#statistics .charts-container {
  display: flex;
  flex-direction: column; /*Stack charts vertically */
  align-items: center;
}

#statistics canvas {
  max-width: 100%; /* Charts resize to fit width */
}

#leaderboard-list li {
  flex-direction: column; /* Stack items vertically */
  gap: 15px;
  align-items: flex-start; /* Align text to the left */
}

#leaderboard-list li .achievements {
  margin-left: 0;
}

#leaderboard-list li .achievement {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.transactions-container {
  max-height: 250px;
}/*# sourceMappingURL=profile.css.map */