/* styles/home.css */
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
body {
  font-family: "Rubik Mono One", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  color: #333;
  min-height: 100vh; /* Ensure body takes full viewport height */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow-x: hidden;
  font-size: 0.9rem;
}

/* Navigation */
#navigation {
  padding: 40px 20px; /* Reduced padding */
  display: flex;
  width: 100%; /* Make navigation full width */
  box-sizing: border-box; /* Include padding in element width */
}

#navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

#navigation li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  text-align: center;
}

#navigation a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
  display: block;
}

#navigation a:hover {
  color: #FFC107;
}

.theme-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.theme-switch input[type=checkbox] {
  display: none;
}

main {
  flex: 1 0 auto;
  gap: 1.25rem;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.theme-switch label {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.theme-switch input[type=checkbox]:checked + label {
  background-color: #f3ad21;
}

section {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  line-height: 30px;
  font-size: 1.3rem;
}

.section-block a.action-button {
  display: inline-block;
  gap: 1.25rem;
  margin-top: 30px;
}

.hero {
  text-align: center;
  padding: 40px 0;
  margin-bottom: 20px;
}

.hero h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

#save-settings {
  display: inline-block;
  padding: 15px 30px;
  background-color: #f3ad21;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#save-settings:hover {
  background-color: #eea30d;
}

/* Dark Mode Styles */
body.dark {
  background-color: #212121;
  color: #fff;
}

body.dark section {
  background-color: #303030;
  color: #fff;
}

body.dark .action-button {
  background-color: #eea30d;
}

body.dark .action-button:hover {
  background-color: #f3ad21;
}

body.dark #navigation a {
  color: #fff;
}

body.dark #navigation a:hover {
  color: #FFC107;
}

body.dark footer {
  background-color: #1a1a1a;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.875rem;
  margin-top: max(40px, env(safe-area-inset-top));
  bottom: 0;
  left: 0;
  flex: 0 0 auto;
  width: 100%;
  background-color: #212121;
  color: #fff;
  padding: 50px 0px;
  text-align: center;
  border-top: 1px solid #333;
}

@media screen and (max-width: 600px) {
  section {
    padding: 20px;
  }
  .hero h2 {
    font-size: 1.5em;
  }
  .hero p {
    font-size: 1em;
  }
  #save-settings {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 498px) {
  body {
    overflow-x: hidden;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  section {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.75em;
    padding: 15px;
  }
  .hero h2 {
    font-size: 1.25em;
  }
  .hero p {
    font-size: 0.875em;
  }
  #save-settings {
    padding: 10px 15px;
    font-size: 0.875em;
  }
  footer {
    font-size: 0.75em;
  }
}/*# sourceMappingURL=settings.css.map */